section
    h2 You down with AOP?
    p Aspect-Oriented Programming (AOP) complements Object-Oriented Programming (OOP) by providing another way of thinking about program structure.

section
    h2 Yeah you know me!
    p The key unit of modularity in OOP is the class, whereas in AOP the unit of modularity is the aspect.
    p We'll talk about AOP and its concepts including Aspect, Pointcut, and Advice. Then we'll use Spring AOP to put these concepts to use in a Java application.