section
    h2 You down with AOP?
    p Aspect-Oriented Programming (AOP) complements Object-Oriented Programming (OOP) by providing another way of thinking about program structure.

section
    h2 Yeah you know me!
    p The key unit of modularity in OOP is the class, whereas in AOP the unit of modularity is the aspect.
    p We'll talk about AOP and its concepts including Aspect, Pointcut, and Advice. Then we'll use Spring AOP to put these concepts to use in a Java application.

section
    h2 Warning!
    p Don't abuse Aspects.  Be intentional and judicious.
    p Imagine your code will be maintained by a homicidal maniac who knows where you live.

section
    h2 What is it good for?
    ul
        li Transaction Management
        li Logging
        li Exception Handling (detailed traces or recovery)
        li Security aspects
        li Instrumentation/Performance measurement