section
  h1 AOP
  p
    a(href="https://eclipse.org/aspectj/docs.php") AspectJ
  p
    a(href="https://docs.spring.io/spring/docs/current/spring-framework-reference/html/aop.html") Spring AOP

section
  h2 AOP Concepts
  ul
    li Aspect
    li Join Point
    li Advice
    li Pointcut